// /* stylelint-disable declaration-no-important */
@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.btn {
    padding: 9.5px 20px;
    border-radius: var(--radius-main);
    font-size: 16px;
    font-family: var(--font-family-semibold);
    height: 40px;
    line-height: 1;


    &--request {
        background-color: var(--color-green);
        color: var(--color-white);
        border: none;

        @include media(tablet) {
            padding: 5px;
            font-size: 13px;
        }
    }

    &--simple {
        background-color: var(--color-white);
        color: var(--color-green);
        border: 2px solid var(--color-green);

        @include media(tablet) {
            padding: 5px;
            font-size: 13px;
        }
    }
}