@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.discover {
  padding: 86px 0;

  h2 {
    margin-bottom: 48px;
    font-family: var(--font-family-bold);
    font-size: 36px;
    color: var(--color-dark);
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__image {
    overflow: hidden;
    object-fit: contain;
  }

  @include media(mobile-l) {
    &__list {
      flex-direction: column;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 12px;
      }
    }
  }
  @include media(tablet) {
    padding: 30px 0;
  }
}