@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  color: var(--color-dark);
  background-color: var(--color-white);

  &__inner {
    display: flex;
    align-items: flex-start;
    padding: 48px 0;
    width: 100%;
    justify-content: space-between;

    @include media(tablet) {
      flex-wrap: wrap;
    }
  }

  &__nav {
    &:not(:last-child) {
      margin-right: rem(60);
    }

    p {
      margin-bottom: 15px;
      font-family: var(--font-family-secondary);
      font-size: 32px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    font-size: 16px;
  }

  &__copyrigth {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid var(--color-lightest-gray);

    .copyrigth {
      &__list {
        display: flex;
      }

      &__item {
        &:not(:last-child) {
          margin-right: 48px;
        }
      }
    }
    
  }

  .logo {
    display: flex;
    align-items: center;
    font-family: var(--font-family-black);
    color: var(--color-green);
    font-size: 30px;
    line-height: 39.16px;
    margin-bottom: 70px;

    &__img {
      margin-right: 16px;
    }
  }

  @include media(tablet) {
    &__list {
      display: flex;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 15px;
      }
    }

    &__nav {
      &:not(:last-child) {
        margin-right: rem(40);
      }

      p {
        font-size: 24px;
      }
    }

    &__links {
      margin-bottom: 20px;
    }

    .logo {
      margin-right: 0;
      margin-bottom: 15px;
    }

    .request {
      margin-bottom: 20px;
    }
  }

  @include media(mobile-l) {
    &__inner {
      margin: 0 auto;
    }
  }

  @include media(mobile-m) {
    &__inner {
      align-items: baseline;
    }

    &__navs {
      flex-direction: column;
      margin-bottom: 40px;
    }

    &__nav {
      margin-bottom: 40px;
    }

    &__copyrigth {
      text-align: left;
    }

    .logo {
      margin-bottom: 32px;
    }

  }
  @include media(mobile-s) {
    &__list {
      display: block;
    }
  }
}