@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 20.5px 0;
  width: 100%;
  background-color: var(--color-white);
  transition-property: transform, padding;
  transition-duration: 0.15s;

  &.hide {
    transform: translateY(-100%);
  }

  .logo {
    display: flex;
    align-items: center;
    font-family: var(--font-family-black);
    color: var(--color-green);
    font-size: 30px;
    line-height: 39.16px;

    &__img {
      margin-right: 16px;
    }

    @include media(tablet-wide) {
      max-width: 250px;
    }
  }
}