@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.crafting {
  padding: 56px 0;

  &__content {
    display: flex;
    align-items: center;
  }

  h2 {
    margin-bottom: 48px;
    font-family: var(--font-family-bold);
    font-size: 36px;
    color: var(--color-dark);
  }

  p {
    font-family: var(--font-family-primary);
    font-size: 24px;
    color: var(--color-dark);
  }

  &__image {
    margin-right: 48px;
  }

  @include media(tablet-wide) {
    padding: 30px 0;

    h2 {
      margin-bottom: 24px;
    }

    p {
      font-size: 16px;
    }

    &__image {
      max-height: 300px;
      border-radius: 24px;
    }
  }

  @include media(mobile-s) {
    &__content {
      flex-direction: column;
    }

    &__image {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}