@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.guide {
  padding: 56px 0;
  
  h2 {
    margin-bottom: 48px;
    font-family: var(--font-family-bold);
    font-size: 36px;
    line-height: 46.99px;
    color: var(--color-dark);
  }

  h3 {
    font-family: var(--font-family-bold);
    font-size: 24px;
    line-height: 36px;
    color: var(--color-dark);
    margin-bottom: 16px;
  }
  
  p {
    font-family: var(--font-family-light);
    font-size: 20px;
    line-height: 30px;
    color: var(--color-dark);
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 691px;
    margin-right: 48px;
  }

  .overlay {
    &::before {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  @include media(tablet-wide) {
    padding: 30px 0;

    h2 {
      margin-bottom: 24px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 12px;
    }

    p {
      font-size: 16px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__imgs{
      min-width: 400px;
      max-width: 400px;
    }
  }

  @include media(mobile-l) {
    &__content {
      flex-direction: column;
    }

    &__imgs{
      background-size: contain;
      max-height: 300px;
      max-width: 300px;
      min-width: 300px;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}