@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.unveil {
  padding: 86px 0;
  
  h2 {
    margin-bottom: 48px;
    font-family: var(--font-family-bold);
    font-size: 36px;
    line-height: 46.99px;
    color: var(--color-dark);
  }

  h3 {
    font-family: var(--font-family-bold);
    font-size: 24px;
    line-height: 36px;
    color: var(--color-dark);
    margin-bottom: 8px;
  }
  
  p {
    font-family: var(--font-family-light);
    font-size: 20px;
    line-height: 30px;
    color: var(--color-dark);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-lightest-gray);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__number {
    font-family: var(--font-family-light);
    font-size: 48px;
    line-height: 62.65px;
    color: var(--color-green);
  }

}