/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */

@use "../utils/mixins/"as*;

:root {
  --content-width: 1216px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  // --font-family-primary: "Anek Malayalam", sans-serif;
  --font-family-primary: "KonnectRegular", sans-serif;
  --font-family-black: "KonnectBlack", sans-serif;
  --font-family-bold: "KonnectBold", sans-serif;
  --font-family-semibold: "KonnectSemiBold", sans-serif;
  --font-family-medium: "KonnectMedium", sans-serif;
  --font-family-light: "KonnectLight", sans-serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;

  // color
  --color-white: #fff;
  --color-dark: #2C2E35;
  --color-black: #2C2E35;
  --color-green: #9CDB7E;
  --color-light-gray: rgba(44, 46, 53, 0.36);
  --color-lighter-gray: rgba(44, 46, 53, 0.16);
  --color-lightest-gray: rgba(44, 46, 53, 0.12);
  --color-title:#292E3D;
  --color-text-black: #222222;
  --color-bg-form: #F6F8F7;
  --color-transparent-white: rgba(255, 255, 255, 0.76);
  --color-transparent-dark:rgba(0, 0, 0, 0.56);


  //  radius
  --radius-main: 44px;

  // shadow
  --shadow-primary: 0px 8px 8px -4px #1118270A;
  --shadow-secondary: 0px 20px 24px -4px #1118271A;
}